.product{
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 5rem;
    background: transparent;

} 
.product::before {
    content: '';
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(101px); /* Adjust the blur intensity as needed */
    z-index: -1;
 }
.product-box{
    width: 500px;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 40px #012f35;
    padding: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: default;
    z-index: 100;
    background: #fff;
}
.product-box img{
    display: block;
    margin: auto;
    width: 50%;
}
.product-box label{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 4px;
}
.product-box .product-image{
    border: none;
    outline: none;
}

.product-box input {
    display: block;
    margin: auto;
    width: 400px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1rem;
}
.product-box input::placeholder{
    padding-left: 10px;
}
.product-box select {
    display: block;
    margin: auto;
    width: 400px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 1rem;
}
.product-box select::placeholder{
    padding-left: 10px;
}
.product-box textarea {
    display: block;
    margin: auto;
    width: 400px;
    height: 250px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 1rem;
    resize: none;
    padding: 10px;
    text-align: justify;
    line-height: 20px;
}
.product-box textarea::placeholder{
    padding: 10px;
}
.product-box .add-product{
    width: 250px;
    text-decoration: none;
}
.product-box button{
    display: block;
    margin: auto;
    margin-top: 2rem;
    width: 150px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #012f35;
    border-radius: 20px;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.product-box button:hover{
    scale: 1.05;
}
.product-box .go-back{
    margin-top: 20px;
}