.posts {
    background-color: transparent;
    padding: 20px;
   
}

.post-box {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    width: 250px;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 10px;
    max-height: 300px;
    color: #000;
}

.post-box .fa-heart {
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 50%;
}
.post-box .fa-heart:hover{
    color: red;
}
.post-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   padding: 10px;
    height: 150px;
}

.post-content {
    height: 150px;
    padding-top: 10px;
    padding-right: 15px;
}

.post-content ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-name {
    font-size: 15px;
    font-weight: 700;
}

.product-price {
    font-size:18px;
    font-weight: 800;
}
.product-description {
    font-size: 11px;
    text-align: justify;
    text-justify: auto;
}
.product-uploaded-time{
    display: flex;
    justify-content:flex-end;
    font-size: 11px;
    margin-top: 10px;
}
