.profile{
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 5rem;
    background: transparent;

} 
.profile::before {
    content: '';
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(101px); /* Adjust the blur intensity as needed */
    z-index: -1;
 }
.profile-box{
    position: relative;
    width: 90%;
    height: 90vh;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 40px #012f35;
    padding: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: default;
    z-index: 100;
    background: #fff;
    overflow: hidden;
}
.profile-box-left{
    position: absolute;
    left: 0;
    width: 50%;
}
.profile-box-right{
    position: absolute;
    right: 0;
    top: 250px;
    width: 50%;
}
.profile-box img{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #000;
}
.profile-box label{
    display: flex;
    margin-left: 16%;
    margin-top: 2rem;
    margin-bottom: 4px;
}
.profile-box input {
    display: block;
    margin: auto;
    width: 400px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 1rem;
}
.profile-box input::placeholder{
    padding-left: 10px;
}
.profile-box .update-password{
    width: 250px;
    text-decoration: none;
}

.profile-box button{
    display: block;
    margin: auto;
    margin-top: 2rem;
    width: 150px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #012f35;
    border-radius: 20px;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.profile-box button:hover{
    scale: 1.05;
}


.fa-circle-xmark{
    color: red;
    scale: 1.3;
    margin-left: 10px;
}
.fa-circle-check{
    color: green;
    scale: 1.3;
    margin-left: 10px;
}

.go-back{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}