.navbar {
    background-color: #e8e8e8;
    z-index: 99;
}

.navrow {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.logo img {
    width: 100px;

}

.location-search {
    border: 2px solid #000;
    width: 250px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 3px;
    padding: 9px 0;
    outline: #00ddff;
    overflow: hidden;
    background-color: #fff;

}

.location-search i {
    scale: 1.5;
    margin: 2px 11px;
}

.location-search input {
    border: none;
    outline: none;
}

.location-search ::placeholder {
    font-size: 14px;
    text-align: center;
}

.item-search {
    border: 2px solid #000;
    width: 500px;
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
    outline: #00ddff;
    padding-left: 20px;
    background-color: #fff;
}

.item-search input {
    border: none;
    outline: none;
    width: 92%;
}

.item-search i {
    background-color: #012f35;
    scale: 1.6;
    padding: 7px;
    border: none;
    outline: none;
    color: #fff;
}


.drop-language {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.drop-language h2 {
    font-size: 20px;
}

.drop-language-list {
    display: none;
    position: absolute;
    left: -30px;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
    z-index: 9999;
}

.drop-language-list p {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 5px;
    padding-left: 10px;
    margin: 10px;
    transition: .3s ease-in-out;
    font-size: 14px;
    border-radius: 20px;
   
}

.drop-language-list p:hover {
    background-color: #012f35;
    color: #fff;
}

.drop-language-list i {
    display: flex;
    justify-content: flex-end;
}

.drop-language:hover .drop-language-list {
    display: block;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li {
    float: left;
    margin-left: 2rem;
}

.language i {
    margin-left: 20px;
}

.drop-profile-nav {
    position: relative;
    display: inline-block;
 
}

.drop-profile-nav img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid #000;
   
}

.drop-profile-nav-list {
    display: none;
    position: absolute;
    left: -100px;
    background-color: #f3f3f3;
    border-radius: 20px;
    width: auto;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.drop-profile-nav-list .imageholder{
  scale: 1.2;
}
.drop-profile-nav-list p {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 5px;
    padding-left: 10px;
    transition: .3s ease-in-out;
    font-size: 14px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
   
}

.drop-profile-nav-list p:hover {
    scale: 1.2;
}

.drop-profile-nav-list i {
    display: flex;
    justify-content: flex-end;
}

.drop-profile-nav:hover .drop-profile-nav-list {
    display: block;
}
.view-profile-nav{
    text-decoration: none;
    color: #000;
}

.become-seller {
    margin-right: 2rem;

}
.sell-product{
    text-decoration: none;
    color: #000;
}

.become-seller h2 {
    font-size: 20px;
    border: 6px solid #012f35;
    border-radius: 20px;
    padding: 4px 10px;
    box-shadow: 1px 1px 10px #012f35;
    border-top: 6px solid red;
    border-bottom: 6px solid green;
    border-left: 6px solid blue;
    border-right: 6px solid yellow;
    transition: .5s ease-in-out;
}
.become-seller h2:hover{
    border-right: 6px solid red;
    border-left: 6px solid green;
    border-top: 6px solid blue;
    border-bottom: 6px solid yellow;
}

.become-seller i {
    margin-right: 5px;
    font-size: 18px;
}